<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, inital-scale=1.0">
  <link rel="stylesheet" href="..\static\coins.css">

</head>
<body>
  <!-- NAV BAR -->
  <nav class="nav_bar">
    <label id="logo">CIS</label>
    <a class="nav_button" href="#">Profile </a>
    <a class="nav_button" href="#">Wallet</a>
    <a class="nav_button" href="/crypto_investment_simulator/coins">Coins</a>
    <a class="nav_button" href="/crypto_investment_simulator">Home</a>
  </nav>

  <!-- COINS TABLE -->
  <table id="container">

    <!-- HEAD ROW -->
    <tr class="coin_holder"> 
      <th><a id="head_num">#</a></th>
      <th><a id="asset">Cryptocurrency</a></th>
      <th><a class="head_row_cell_content">Price</a></th>
      <th><a class="head_row_cell_content">24H % Change</a></th>
      <th><a class="head_row_cell_content">Market Cap</a></th>
    </tr>

    <!-- ASSETS ROWS -->
    {%for coin_data in coin_list%}

    <tr class="coin_holder"> 
      <th><a class="coin_num">{{coin_data.0}}</a></th>
      <th class="row_cell">
        <img src="..\static\icons\{{coin_data.1}}.png" class="coin_icon">
        <a class="asset_name">{{coin_data.2}}</a>
        <a class="asset_symbol">{{coin_data.3}}</a>
      </th>

      <th class="row_cell"><a class="cell_content">${{coin_data.4}}</a></th>
      
      {%if coin_data.5 > 0%}
        <th class="row_cell"><a class="cell_content" style="color:green">+{{coin_data.5}}%</a></th>
      {% else %}
        <th class="row_cell"><a class="cell_content" style="color:red">{{coin_data.5}}%</a></th>
      {% endif %}

      <th class="row_cell"><a class="cell_content">{{coin_data.6}}B</a></th>
      <th class="row_cell"><button class ="b_s_button" name='b_s_button' value={{coin_data.0}} >BUY | SELL</button></th>
    </tr>
    
    {% endfor %}

  </table>
 
</body>
</html>