<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, inital-scale=1.0">
  <link rel="stylesheet" href="..\static\index.css">

</head>
<body>

  <nav class="nav_bar">
    <label id="logo">CIS</label>
    <a class="nav_button" href="#">Profile </a>
    <a class="nav_button" href="#">Wallet</a>
    <a class="nav_button" href="/crypto_investment_simulator/coins">Coins</a>
    <a class="nav_button" href="/crypto_investment_simulator">Home</a>
  </nav>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  <a href="{% url 'logout' %}">logout</a>
 
</body>
</html>