<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-widthbhhhb, inital-scale=1.0">
  <link rel="stylesheet" href="..\static\register.css">

</head>
<body>

<form method="POST" action="">
  <table>
    <tr>
      <th>
        {{form.username.label}}
      </th>
      <th>
        {{form.username}}
      </th>
    </tr>

    <tr>
      <th>
        {{form.password1.label}}
      </th>
      <th>
        {{form.password1}}

      </th>
    </tr>

    <tr>
      <th>
        {{form.password2.label}}

      </th>
      <th>
        {{form.password2}}
      </th>
    </tr>

    <tr>
      {{form.errors}}
    </tr>
  </table>
  <input type="submit" name="create_user">



</form>

 
</body>
</html>